@font-face {
    font-family: 'Graphik';
    src: local('Graphik'), url(./font/Graphik-Regular.ttf) format('truetype');
}

 :root {
    --background-color: #fff;
    --input-background-color: #f2f2f2;
    --confession-background-color: #fff;
    --font-color: #111;
    --font-color-grey1: #666;
    --font-color-grey2: #aaa;
    --border: 1px solid #e5e5e5;
    /* --light-input-background-color:  #f2f2f2;
    --light-background-color:  #fff;
    --light-font-color-black: #111; 
    --light-font-color-grey1: #666;
    --light-font-color-grey1: #aaa;
    --light-border: 1px solid #e5e5e5; */
    /* dark theme */
    /* --dark-input-background-color:  #333;
    --dark-background-color-black:  #222;
    --dark-font-color: #eee; 
    --dark-font-color-grey1: #aaa;
    --dark-font-color-grey2: #777;
    --dark-border: 1px solid #e5e5e5; */
    /* general */
    --font-size: 14px;
    --small-font-size: 12px;
    --big-font-size: 16px;
    --super-big-font-size: 18px;
    --border-radius: 12px;
    --border: 1px solid rgb(0 0 0/.1);
    --font: Graphik;
    --line-height: 1.6;
    --button-size: 90px;
    --button-radius: 8px;
    --input-height: 36px;
    --font: 'Noto Serif', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--background-color);
}

div {
    transition: transform 0.5s linear;
}

p,
label,
h1,
h2,
h3,
button,
input,
li,
span {
    color: var(--font-color);
    font-family: var(--font);
}

button {
    background: var(--confession-background-color);
    border: var(--border);
    border-radius: var(--button-radius);
    height: var(--input-height);
    cursor: pointer;
}

p,
label,
li {
    font-size: 14px;
    line-height: 1.6;
}


/*
  =============== 
  Front-page
  ===============
*/

.confessions-list {
    margin: 20px;
}


/*
  =============== 
  Side-bar
  ===============
*/

.side-bar {
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 330px;
    position: fixed;
    background: var(--background-color);
    z-index: 1;
    transform: translateX(-100%);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
}

.bottom-sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.show-side-bar {
    transform: translateX(0%)
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*
  =============== 
  A Confession
  ===============
*/

.mason-item {
    /* change div to reference your elements you put in <Masonry> */
    background: var(--confession-background-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    /* padding: 10px; */
    border: var(--border);
    position: relative;
}

p.title {
    font-weight: bold;
    margin-bottom: 5px;
}

p.content {
    color: var(--font-color-grey1);
}

div.confession_content {
    padding: 10px;
}

.confession-user-info {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.confession-user-name {
    background: var(--background-color);
    border-radius: 10px;
    padding: 5px;
}

.confession-creator-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


/*
  =============== 
  Bottom Button Icons
  ===============
  */

.bottom-all-icons {
    display: flex;
    position: fixed;
    left: 20px;
    bottom: 15px;
    column-gap: 20px;
    z-index: 2;
}

.icon {
    background: var(--input-background-color);
    padding: 15px;
    color: var(--font-color);
    border-radius: 50%;
    cursor: pointer;
}


/* #setting_icon {
    
} */


/* #edit_icon {
    left: 95px;
} */

#login_icon {
    left: 170px;
}


/*
  =============== 
  Modal
  ===============
  */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    /* transition: var(--transition); */
    visibility: hidden;
    z-index: -1;
}


/* OPEN/CLOSE MODAL */

.show-modal {
    visibility: visible;
    z-index: 10;
}

.modal-container {
    background: var(--background-color);
    border-radius: var(--border-radius);
    /* text-align: center; */
    /* display: flex; */
    /* place-items: center; */
    position: relative;
    /* flex-direction: row; */
}

.close-modal-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--font-color);
    cursor: pointer;
    z-index: 20;
}


/*
  =============== 
  Modal Editor
  ===============
  */

.modal-editor {
    width: 90%;
    height: 90%;
    max-width: 600px;
    overflow: hidden;
}

.editor-container {
    width: 200%;
    transform: translateX(0%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.show-cover-selection {
    transform: translateX(-50%);
}

.editor-cover {
    width: 100%;
}

.editor-form-main {
    display: flex;
    flex-direction: column;
    margin: 30px;
    max-height: 600px;
    height: 40%;
}

.after-cover {
    height: 23%;
}

.cover-selection-container {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    height: 39%;
}

.cover-selection {
    display: flex;
    flex-direction: column;
}

.cover {
    position: relative;
    padding: 0px;
    margin: 0px;
}

.choose-cover-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 22;
    width: 100px;
}

.editor-form-main input {
    flex: 1;
    font: var(--font);
    font-size: var(--super-big-font-size);
    color: var(--font-color);
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: var(--background-color);
}

.editor-form-main textarea {
    flex: 8;
    background-color: var(--background-color);
    font: var(--font);
    border: none;
    overflow: auto;
    outline: none;
    color: var(--font-color-grey1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: var(--line-height);
    font-size: var(--font-size);
    resize: none;
    /*remove the resize handle on the bottom right*/
}

.editor-button {
    flex: 1;
    display: flex;
    column-gap: 10px;
    /* justify-content: flex-end; */
    margin-top: 10px;
    margin-left: auto;
    align-items: center;
}

.publish-button {
    width: var(--button-size);
}

.add-cover-button {
    width: 130px;
}


/*
  =============== 
  Modal Setting
  ===============
  */


/* .modal-setting {
    width: 90%;
    height: 50%;
    max-width: 300px;
}

.setting {
    display: flex;
    margin: 70px 20px auto;
}

.modal-title {
    position: absolute;
    top: 25px;
    left: 20px;
}

.theme-setting {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-setting select {
    border-radius: 8px;
    height: (--input-height);
    width: 120px;
    background-color: var(--confession-background-color);
    color: var(--font-color);
    padding: 0px 12px;
} */


/*
  =============== 
  Modal Login
  ===============
  */

.modal-login {
    height: 200px;
    max-width: 300px;
    overflow: hidden;
}

.login-signup-container {
    display: flex;
    width: 200%;
    flex-direction: row;
    transform: translateX(0%);
    height: 100%;
}

.login-container {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sign-up-container {
    width: 100%;
    display: flex;
    padding: 50px;
    flex-direction: column;
}

.showSignUp {
    transform: translateX(-50%)
}